# Angular injector
snippet $inj
let ${1:injected_name} = $injector.get('$1');
endsnippet

snippet $injt
this.${1:injected_name} = $injector.get('$1');
endsnippet

snippet $injp
${1:injected_name}: $injector.get('$1'),
endsnippet
